{
  "rules": {
    "no-unused-vars": "warn"
  },
  "globals" : {
    "_": true,
    "io": true,
    "tweetsTemplate": true,
    "filterTemplate": true,
    "filtersTemplate": true,
    "profileTemplate": true,
    "profileTraitTemplate": true,
    "loadingTemplate": true
  },
  "env": {
    "jquery": true,
    "browser": true,
  },
  "extends": "../../.eslintrc",
}